<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Loja Flask</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="container">

        <h1>Loja Virtual</h1>

        <p>Projeto utilizando Flask + MySQL</p>

        <!-- FORMULÁRIO -->
        <form action="/salvar" method="POST" class="form">

            <input type="text" name="nome" placeholder="Nome do produto" required>

            <input type="number" step="0.01" name="preco" placeholder="Preço" required>

            <input type="number" name="estoque" placeholder="Estoque" required>

            <input type="text" name="categoria" placeholder="Categoria" required>

            <button type="submit">Salvar Produto</button>

        </form>

        <hr>

        <h2>Produtos cadastrados</h2>

        {% for produto in produtos %}

            <div class="card">

                <h3>{{ produto.nome }}</h3>

                <p>Preço: R$ {{ produto.preco }}</p>
                <p>Estoque: {{ produto.estoque }}</p>
                <p>Categoria: {{ produto.categoria }}</p>

            </div>

        {% endfor %}

    </div>

</body>

</html>